.icon-card {
  // default background color
  background-color: #ffffff;

  height: 64px;
  width: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
}

// Small devices
@media only screen and (max-width: 568px) {
  .icon-card {
    height: 44px;
    width: 44px;
    svg {
      height: 25px;
    }
  }
}
