@import './../../../style/variables';

.activity-chart {
  border-radius: $charts-border-radius;
  padding: 25px 30px;

  &__title {
    span {
      font-weight: bold;
    }
  }
  &__body {
  }
}

// Medium devices
@media only screen and (max-width: 992px) {
  .activity-chart {
    padding: 0;
  }
}

// Small devices
@media only screen and (max-width: 392px) {
  .activity-chart {
    width: 305px;
  }
}
